@font-face {
  font-family: 'OpenSans';
  src: url(../assets:fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Neucha';
  src: url(../assets:fonts/Neucha/Neucha-Regular.ttf);
}

/*
Цвета
Белый: #fff
Полупрозрачный белый: #d7ccc0
Светлый: #f5f4f0
Основной: #fe8a02
Основной тёмный: #42413c
Тёмный: #2a2626
Полупрозрачный тёмный: #908d8b
Коричневый: #b09a81
Синий: #1085c5

*/
p {
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.6em;
}

ul {
  margin-top: -40px;

  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.6em;
}

h1 {
  font-weight: normal;
  font-size: 72px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h2 {
  font-weight: normal;
  font-size: 60px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h3 {
  font-weight: normal;
  font-size: 34px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

.title-orange {
  color: #fe8a02;
}

/* Section */
body {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  padding: 100px 0;
}

.section-bg {
  position: relative;
}

.section-bg::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  background-image: url(../pictures/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: '';
}

.section-light {
  background-color: #f5f4f0;
}

.section-brown {
  color: #fff;

  background-color: #b09a81;
}

.section-dark {
  background-color: #42413c;
}

/* Container */
.container {
  position: relative;

  width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Header */
.header {
  padding-bottom: 25px;
  overflow: hidden;
}

.header-h1 h1 {
  margin-top: 6px;
}

.header-inner {

  position: relative;

  width: 100%;
  margin-bottom: -10px;
}

.main-img img {
  position: absolute;
  top: -52px;
  right: -270px;
  z-index: 1;

  height: 525px;
}

.textcols {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 180px;
  margin-bottom: 40px;
  margin-left: 0;
}

.textcols-item {

  width: 50%;
}

.textcols-item + .textcols-item {
  margin-left: 30px;
}

.info {
  margin-left: 570px;
  padding: 12px 18px;

  color: white;
  font-weight: bold;
  text-decoration: none;

  background: #fe8a02;
}

.info:hover {
  background: #ea7600;
}

/* Section-video */

.section-video {
  width: 100%;
  height: 100%;
  margin-top: 0;
  padding-top: 50px;

  text-align: center;

  background: #fff;
}

.page2-p {
  margin-top: -20px;
  margin-bottom: 29px;
}

.video {
  display: block;
  margin: auto;
  margin-bottom: -194px;
  border-width: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Section navigation */
.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -90px;
}

.navigation-item {
  box-sizing: border-box;
  width: 350px;
  margin: 0 0 -5px 0;
  padding: 24px;

  list-style-type: none;

  background-color: #f5f4f0;
}

.navigation-item:first-child {
  margin-top: -45px;
  padding: 0;

  background-color: #42413c;
}

.navigation-title {
  color: #fff;
  font-weight: normal;
  font-size: 52px;
}

.navigation-link {
  width: 100%;
  height: 100%;

  color: #42413c;
  text-decoration: none;
}

.height-min {
  height: 324px;
}

.height-max {
  height: 348px;
}

.item-number {
  padding-bottom: 0;

  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.item-title {
  color: #fe8a02;
  font-weight: normal;
}

.item-content {
  margin-top: -16px;

  color: #2a2626;
}

.clickable:hover {
  background-color: #fe8a02;
}

.clickable:hover .item-title,
.clickable:hover .item-number,
.clickable:hover .item-content {
  color: #fff;
}

/* First block top */
.top-row {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  margin-top: -100px;
  margin-left: 6px;
}

.top-row-item {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.top-row-item + .top-row-item {
  margin-left: 30px;
}

.top-row-item h2 {
  margin-top: -30px;

  font-weight: normal;
}

.suptitle p {
  margin-top: -5px;

  font-size: 24px;
  font-family: 'Neucha', sans-serif;
}

.suptitle-light {
  color: #d7ccc0;
}

.suptitle-dark {
  color: #908d8b;
}

.description-top p {
  margin-top: -10px;

  font-size: 34px;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

.picture-img {
  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Divider */
.divider h4 {
  margin-top: 85px;
  margin-bottom: 10px;
  padding: 5px 10px 5px;

  font-weight: bold;

  font-size: 14px;

  font-family: 'OpenSans', sans-serif;
}

.divider-light {
  color: #b09a81;

  background: #fff;
}

.divider-dark {
  color: white;

  background: #b09a81;
}

/* Second block bottom */
.bottom-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: -125px;
}

.bottom-item {
  width: 50%;
}

.bottom-item + .bottom-item {
  margin-left: 30px;
}

/* Section Premature optimization */
#premature-optimization {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.container-optimization {
  position: relative;

  width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 0;
}

.bottom-items-optimization {
  margin-bottom: -15px;
}

/* Section Hyperbolic depreciation */
.top-row-hyperbolic {
  margin-bottom: 93px;
}

.suptitle-hyperbolic p {
  margin-top: 5px;
}

.top-row-item-hyperbolic {
  margin-left: -5px;
}

.description-top-hyperbolic p {
  margin-top: -25px;
}

.divider-hyperbolic {
  margin-bottom: -7px;
}

.bottom-items-hyperbolic {
  margin-bottom: -115px;
}

/* Section Errors in planning */

.top-row-errors-in-planning {
  margin-bottom: 93px;
  margin-left: 0;
}

.suptitle-errors-in-planning {
  margin-top: 4px;
  margin-bottom: 4px;
}

.description-top-errors-in-planning p {
  margin-top: -25px;
}

.divider-errors-in-planning {
  margin-bottom: -7px;
}

.bottom-items-errors-in-planning {
  margin-bottom: -100px;
}

/* Section footer */
.content-footer {
  position: relative;

  width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.feedback {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  height: 190px;
  margin: 0;

  color: #fff;

  background-color: #42413c;
}

.feedback-item {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.feedback-item h3 {
  margin-top: 55px;
  margin-left: 55px;
}

.block-center-form {
  margin-top: 19px;
  margin-bottom: 20px;
}

.email-size p {
  font-size: 18px;
}

.rules p {
  font-size: 12px;
}

input.mail {
  position: relative;

  width: 423px;
  height: 16px;
  padding: 15px;
}

button.send {
  position: absolute;
  top: 183px;
  right: 55px;

  width: 70px;
  height: 50px;
  border: none;

  background-color: #fe8a02;
}

button.send:hover {
  background-color: #ea7600;
}

.info-href {
  margin-top: 60px;
  padding-top: 16px;

  font-size: 14px;
  text-align: center;
}
